* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    display: none;
  }

/*      *\
 Header 
 &Banner
\*      */
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,3,0.7), rgba(4,9,3,0.7)), url(mountain_view_1.jpg);
    background-position: center;
    background-size: cover;
    /* position: relative;*/
}



/*      *\
 NAVBAR
\*      */



nav {
    display: flex;
    padding: 2%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    float: left;
    width: 260px;
    margin-top: 10px;
    margin-left: 100px;
}

.menu {
    flex: 1;
    text-align: right;
}

.menu-list-item {
    list-style: none;
    display: inline-block;
    padding: 5px 48px;
    position: relative;
}

.menu-list-item a {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.menu-list-item::after {
    content: '';
    width: 0;
    height: 2px;
    background: #7A3E3E;
    display: block;
    margin: auto;
    transition: 0.5s;

}

.menu-list-item:hover::after {
    width: 100%;
    
}

/*      *\
 #Header
 Items
\*      */

.text {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}


.text h1 {
    font-size: 39px;
}

.text p {
    margin: 10px 0 40px;
    font-size: 17px;
}

nav .fa-solid {
    display: none;
}

@media (max-width:1300px){
    nav img {
        width: 200px;
        margin-left: 70px;
    }

    .menu-list-item {
        padding: 5px 38px;
    }

    .text {
        width: 70%;
        float: left;
        top: 57%;
        left: 40%;
        
    }

    .text h1 {
        font-size: 35px;
    }
    
}

@media (max-width: 700px){
    
    .text h1 {
        font-size: 22px;
    }

    .menu-list-item {
        display: block;
    }

    .menu {
        position: absolute;
        background: #7A3E3E;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;

    }
    nav .fa-xmark {
        position: absolute;
        color: white;
        padding-top: 2%px;
        padding-left: 52%;
        font-size: 22px;
        cursor: pointer;
    }

    nav .fa-solid {
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    
}

.about-us-btn {
    display: inline-block;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: white;
    border-radius: 10px;
    border: 3px solid white;
    padding: 10px 40px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 0 0 white;
    transition: ease-in .4s;

}


.about-us-btn a {
    color: white;
    text-decoration: none;
    transition: ease-in .5s;
}

.about-us-btn:hover {
    box-shadow: 0 0 20px #47A992, inset 200px 0 #47A992;
    border: 3px solid #47A992;

}

.about-us-btn:hover a {
    color: rgb(0, 0, 0);
}


/*      *\
 PRELOAD
\*      */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(4,9,3,0.7), rgba(4,9,3,0.7));
    transition: opacity 0.75s, visibility 0.75s;
    transition-delay: s;
}

.loader::after {
    content: "";
    width: 90px;
    height: 90px;
    border: 5px solid white;
    border-top-color: #47A992;
    border-radius: 50%;
    animation: loading 1s linear infinite;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

@keyframes loading {
    0% { transform: rotate(0); }
    100% { transform: rotate(1turn); }
}



/*      *\
 About Us
 Section
\*      */


.about-us {
    width: 100%;
    padding: 120px 0;
}

.about-us-text {
    width: 500px;
}

.about-us h1 {
    font-family: 'Poppins', sans-serif;
    text-align: right;
    font-size: 30px;
    font-weight: 600;
    margin-top: 50px;
}

.about-us p {
    color: #4b4b4b;
    text-align: right;
    font-size: 13x;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}

.about-us img {
    height: auto;
    width: 470px;
    border-radius: 15px;
}

.about {
    width: 1200px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.accomodation-btn {
    margin-top: 25px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: 3px solid rgb(0, 0, 0);
    padding: 10px 27px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 0 0 rgb(0, 0, 0);
    transition: ease-in .4s;
    float: right;
}   


.accomodation-btn a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: ease-in .5s;
}

.accomodation-btn:hover {
    box-shadow: 0 0 20px #47A992, inset 200px 0 #47A992;
    border: 3px solid #47A992;
    color: white;

}

.accomodation-btn:hover a{
    color: white;
}


/*      *\
 Accomodation
 Section
\*      */

.accomodation {
    width: 80%;
    margin: auto;
    padding-bottom: 100px;
}

.accomodation h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-top: 100px;
}

.accomodation p {
    text-align: center;
    color: #4b4b4b;
}

.box-container {
    display: flex;
    flex: wrap;
    gap: 2rem;
}

.box {
    margin-top: 50px;
    flex: 1 1 50rem;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0,.1);
    transition: all 0.6s ease-out;
}

.box:hover {
    
    margin: 5px 0px;
}

.box img {
    height: 15rem;
    width: 100%;
    object-fit: cover;
}

.box h3 {
    text-align: center;
    padding-bottom: 5px;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.box a {
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
}


.box .stars {
    text-align: center;
    padding: 10px;
}








/*      *\
 Membership
 Section
\*      */


.club-membership {
    width: 100%;
    padding: 120px 0;
}


.club-membership h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-top: 50px;
}

.club-membership p {
    text-align: center; 
    color: #4b4b4b;   
    
}
.see-more{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.see-more p {
    text-align: center;
    font-size: 17px;
    font-weight: 500;

}
.to-join {
    width: 1900px;
    max-width: 95%;
    padding-top: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    
}

.to-join img {
    height: auto;
    width: 350px;
    border-radius: 15px;
    margin-right: 50px;
}



.to-join-text h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 550;
    text-decoration: underline;
}


.list {
    padding-top: 10px;
    padding-left: 15px;
}

.list ul {
    padding: 20px;
}

.list li {
    padding-top: 15px;
    font-size: 17px;
}

.text-below {
    margin-top: 40px;
    max-width: 500px;
}

.member {
    float: left;
    padding: 0px 20px;
    margin-left: 100px;
}

@media (max-width: 1000px ){
    .member {
        margin-left: 260px;
    }
}

.member h3 {
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    font-size: 18px;
    font-weight: 550;
}

.member button {
    margin-top: 20px;
   color: black;
    border-radius: 5px;
    border: 3px solid rgb(0, 0, 0);
    padding: 5px 50px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 0 0 rgb(0, 0, 0);
    transition: ease-in .4s;
}

.member button a {
    text-decoration: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
}



.member button:hover {
    box-shadow: 0 0 20px #47A992, inset 200px 0 #47A992;
    border: 3px solid #47A992;
    color: rgba(255, 255, 255, 0.872);
}

/*      *\
 Contact
 Section
\*      */

.contact {
    width: 100%;
    padding: 120px 0;
    
}
.contact-text {
    text-align: center;
}

.contact-text h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-top: 50px;
}

.contact-text p {
    text-align: center;    
    color: #4b4b4b;
    
}

.contact-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: flex;
    justify-content: center;
    align-items: center;
}

.contact-container form {
    display: flex;
    width: 650px;
    height: 400px;
    justify-content: center;
    border: black solid 5px;
    border-radius: 15px;
    flex-wrap: wrap;
}

.contact-container input {
    margin-top: 20px;
    width: 260px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 13px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid;    
}

.contact-container form #lastName, 
.contact-container form #phoneNumber {
    margin-left: 20px;
}



.contact-container form textarea {
    background: none;
    border: none;
    border-bottom: 2px solid;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    width: 540px;
    min-height: 80px;
    max-height: 80px;

}

.contact-container form button {
    margin: 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: 3px solid rgb(0, 0, 0);
    padding: 0 45px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 0 0 rgb(0, 0, 0);
    transition: ease-in .4s;
}



.contact-container form button a {
    color: white;
    text-decoration: none;
    transition: ease-in .5s;
}

.contact-container form button:hover {
    box-shadow: 0 0 20px #47A992, inset 200px 0 #47A992;
    border: 3px solid #47A992;
    color: white;

}

.accomodation-btn:hover a {
    color: rgb(38,38,38);
}

footer {
    margin-top: 100px;
    width: 100%;
    bottom: 0;
    background: #47A992;
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 225px;
    line-height: 20px;
}

footer .footer-content {
    width: 80%;
    position: relative;
    left: 10%;
    
    
}

.footer-content h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.footer-content p {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px;
}
.socials li {
    margin: 0 15px;
    margin-bottom: 40px;
}

.socials a {
    color: white;
    font-size: 22px;
}

.socials a:hover {
    color: #7A3E3E;
}
.footer-bottom span {
    text-transform: uppercase; 
    color: #7A3E3E;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.footer-bottom {
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

