* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

::-webkit-scrollbar {
    display: none;
  }

/*      *\
 Header 
 &Banner
\*      */
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,3,0.7), rgba(4,9,3,0.7)), url(mountain_view_1.jpg);
    background-position: center;
    background-size: cover;
    /* position: relative;*/
}


/*      *\
 NAVBAR
\*      */

nav {
    display: flex;
    padding: 2%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    float: left;
    width: 260px;
    margin-top: 10px;
    margin-left: 110px;
}

.menu {
    flex: 1;
    text-align: right;
}

.menu-list-item {
    list-style: none;
    display: inline-block;
    padding: 5px 48px;
    position: relative;
}

.menu-list-item a {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.menu-list-item::after {
    content: '';
    width: 0;
    height: 2px;
    background: #7A3E3E;
    display: block;
    margin: auto;
    transition: 0.5s;

}

.menu-list-item:hover::after {
    width: 100%;
    
}

/*      *\
 #Header
 Items
\*      */

.text {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}


.text h1 {
    font-size: 39px;
}

.text p {
    margin: 10px 0 40px;
    font-size: 17px;
}

nav .fa-solid {
    display: none;
}

@media (max-width:1300px){
    nav img {
        width: 200px;
        margin-left: 70px;
    }

    .menu-list-item {
        padding: 5px 38px;
    }

    .text {
        width: 70%;
        float: left;
        top: 57%;
        left: 40%;
        
    }

    .text h1 {
        font-size: 35px;
    }
    
}

@media (max-width: 700px){
    
    .text h1 {
        font-size: 22px;
    }

    .menu-list-item {
        display: block;
    }

    .menu {
        position: absolute;
        background: #7A3E3E;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;

    }
    nav .fa-xmark {
        position: absolute;
        color: white;
        padding-top: 2%px;
        padding-left: 52%;
        font-size: 22px;
        cursor: pointer;
    }

    nav .fa-solid {
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    
}

.about-us-btn {
    display: inline-block;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: white;
    border-radius: 10px;
    border: 3px solid white;
    padding: 10px 40px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 0 0 white;
    transition: ease-in .4s;

}


.about-us-btn a {
    color: white;
    text-decoration: none;
    transition: ease-in .5s;
}

.about-us-btn:hover {
    box-shadow: 0 0 20px #47A992, inset 200px 0 #47A992;
    border: 3px solid #47A992;

}

.about-us-btn:hover a {
    color: rgb(38,38,38);
}


/*      *\
 PRELOAD
\*      */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(4,9,3,0.7), rgba(4,9,3,0.7));
    transition: opacity 0.75s, visibility 0.75s;
    transition-delay: s;
}

.loader::after {
    content: "";
    width: 90px;
    height: 90px;
    border: 5px solid white;
    border-top-color: #47A992;
    border-radius: 50%;
    animation: loading 1s linear infinite;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

@keyframes loading {
    0% { transform: rotate(0); }
    100% { transform: rotate(1turn); }
}



/*      *\
 About Us
 Section
\*      */


.about-us {
    width: 100%;
    padding: 120px 0;
}

.about-us-text {
    width: 500px;
}

.about-us h1 {
    font-family: 'Poppins', sans-serif;
    text-align: right;
    font-size: 30px;
    font-weight: 600;
    margin-top: 50px;
}

.about-us p {
    color: #4b4b4b;
    text-align: right;
    font-size: 13x;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}

.about-us img {
    height: auto;
    width: 470px;
    border-radius: 15px;
}

.about {
    width: 1200px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.accomodation-btn {
    margin-top: 25px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: 3px solid rgb(0, 0, 0);
    padding: 10px 27px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 0 0 rgb(0, 0, 0);
    transition: ease-in .4s;
    float: right;
}   


.accomodation-btn a {
    color: white;
    text-decoration: none;
    transition: ease-in .5s;
}

.accomodation-btn:hover {
    box-shadow: 0 0 20px #47A992, inset 200px 0 #47A992;
    border: 3px solid #47A992;
    color: white;

}

.accomodation-btn:hover a {
    color: rgb(38,38,38);
}


/*      *\
 Accomodation
 Section
\*      */

.accomodation {
    width: 80%;
    margin: auto;
}

.accomodation h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-top: 100px;
}

.accomodation p {
    text-align: center;
}

.box-container {
    display: flex;
    flex: wrap;
    gap: 2rem;
}

.box {
    margin-top: 50px;
    flex: 1 1 50rem;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0,.1);
}

.box img {
    height: 15rem;
    width: 100%;
    object-fit: cover;
}

.box h3 {
    text-align: center;
    padding-bottom: 5px;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.box p {
    text-align: center;
    padding: 10px;
}


.box .stars {
    text-align: center;
    padding: 10px;
}








/*      *\
 Membership
 Section
\*      */


.club-membership {
    width: 100%;
    padding: 120px 0;
}


.club-membership h1 {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 30px;
    font-weight: 600;
    margin-top: 50px;
}

.see-more{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.see-more p {
    text-align: center;
    font-size: 17px;
    font-weight: 500;

}

