* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

::-webkit-scrollbar {
    display: none;
  }

/*      *\
 Header 
 &Banner
\*      */
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,3,0.7), rgba(4,9,3,0.7)), url(mountain_view_1.jpg);
    background-position: center;
    background-size: cover;
    /* position: relative;*/
}


/*      *\
 NAVBAR
\*      */

nav {
    display: flex;
    padding: 2%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    float: left;
    width: 260px;
    margin-top: 10px;
    margin-left: 110px;
}

.menu {
    flex: 1;
    text-align: right;
}

.menu-list-item {
    list-style: none;
    display: inline-block;
    padding: 5px 48px;
    position: relative;
}

.menu-list-item a {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.menu-list-item::after {
    content: '';
    width: 0;
    height: 2px;
    background: #7A3E3E;
    display: block;
    margin: auto;
    transition: 0.5s;

}

.menu-list-item:hover::after {
    width: 100%;
    
}

/*      *\
 #Header
 Items
\*      */

.text {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}


.text h1 {
    font-size: 39px;
}

.text p {
    margin: 10px 0 40px;
    font-size: 17px;
}

nav .fa-solid {
    display: none;
}

@media (max-width:1300px){
    nav img {
        width: 200px;
        margin-left: 70px;
    }

    .menu-list-item {
        padding: 5px 38px;
    }

    .text {
        width: 70%;
        float: left;
        top: 57%;
        left: 40%;
        
    }

    .text h1 {
        font-size: 35px;
    }
    
}

@media (max-width: 700px){
    
    .text h1 {
        font-size: 22px;
    }

    .menu-list-item {
        display: block;
    }

    .menu {
        position: absolute;
        background: #7A3E3E;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;

    }
    nav .fa-xmark {
        position: absolute;
        color: white;
        padding-top: 2%px;
        padding-left: 52%;
        font-size: 22px;
        cursor: pointer;
    }

    nav .fa-solid {
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    
}

.about-us-btn {
    display: inline-block;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: white;
    border-radius: 10px;
    border: 3px solid white;
    padding: 10px 40px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 0 0 white;
    transition: ease-in .4s;

}


.about-us-btn a {
    color: white;
    text-decoration: none;
    transition: ease-in .5s;
}

.about-us-btn:hover {
    box-shadow: 0 0 20px #47A992, inset 200px 0 #47A992;
    border: 3px solid #47A992;

}

.about-us-btn:hover a {
    color: rgb(38,38,38);
}


/*      *\
 PRELOAD
\*      */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(4,9,3,0.7), rgba(4,9,3,0.7));
    transition: opacity 0.75s, visibility 0.75s;
    transition-delay: s;
}

.loader::after {
    content: "";
    width: 90px;
    height: 90px;
    border: 5px solid white;
    border-top-color: #47A992;
    border-radius: 50%;
    animation: loading 1s linear infinite;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

@keyframes loading {
    0% { transform: rotate(0); }
    100% { transform: rotate(1turn); }
}



/*      *\
 About Us
 Section
\*      */


.about-us {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
}

.about-us h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.about-us p {
    color: #4b4b4b;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}


.column {
    flex-basis: 31%;
    background: #7d4646;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}


.column h3 {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 600;
    margin: 4px 0;

}

.column p {
    color: white;
    
}

@media (max-width: 700px) {
    .row {
        flex-direction: column;
    
    }
}